.card{
    border: 1px solid black;
    height: 30vh;
    width: 100%;
    justify-self: center;
    text-align: center; 
    border-radius: 5px;

    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5);
}

.card:hover{
    color: white;
    background-color: black;
}

